@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<head>
    <title></title>
    <script type="text/javascript" src="../../Content/ProjectFiles/ClientView/Index.js"></script>
</head>

    <!-- home3-hero-area-start -->
<div class="home3-hero-area bg-with-black">
    <div class="container">
        <div class="row"  id="CaroselIndexPage">
            
        </div>
    </div>
</div>
<!-- home3-hero-area-end -->
<!-- home3-about-health-area-start -->
<div class="home3-about-health-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="home3-about-health">
                    <h2 class="h3-ah-intro st-ds">These helps us</h2>
                    <h3 class="h3-ah-title">Our Store</h3>
                    <div class="h3-ah-contents">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="single-h3-ah-content">
                                    <a href="#"><img src="../../Content/Template/img/home3-about-health/item1.jpg" alt=""></a>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="single-h3-ah-content">
                                    <a href="#"><img src="../../Content/Template/img/home3-about-health/item2.jpg" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="home3-about-health-right">
                    <h4 class="h3-ahr-intro">ABOUT US</h4>
                    <h2 class="h3-ahr-title">EVERY COOKING TIME A SPECIAL DAY</h2>
                    <p class="h3-ahr-text">Rica is a restaurant, bar and coffee roastery located on a busy corner site in Farringdon’s Exmouth Market. With glazed frontage on two sides of the building, overlooking the market and a bustling London intersection. </p>
                    <a class="h3-ahr-details" href="#">DETAILS</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- home3-about-health-area-end -->
<!-- home3-popular-dish-area-start -->
<div class="home3-popular-dish-area">
    <div class="home3-popular-dish-head-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                    <div class="home3-popular-dish-head">
                        <h2 class="h3pdh-intro st-ds">Discover</h2>
                        <h3 class="h3pdh-title">POPULAR DISHES</h3>
                        <p class="h3pdh-text">Rica is a restaurant, bar and coffee roastery located on a busy corner site in Farringdon’s Exmouth Market. With glazed frontage on two sides of the building, ov</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home3-popular-dish-content-area">
        <div class="clearfix">
            <div class="single-h3pdca">
                <div class="h3pdca-img">
                    <img src="../../Content/Template/img/h3-popular-dishes/item1.jpg" alt="">
                </div>
                <div class="h3pdca-content">
                    <h4 class="h3pdca-content-title">Trio Sausages <span class="h3pdca-price">$100</span></h4>
                    <p class="h3pdca-content-text">Mussel with tomato sauce, wine</p>
                    <a class="h3pdca-content-order" href="#">ORDER</a>
                </div>
            </div>
            <div class="single-h3pdca">
                <div class="h3pdca-img">
                    <img src="../../Content/Template/img/h3-popular-dishes/item2.jpg" alt="">
                </div>
                <div class="h3pdca-content">
                    <h4 class="h3pdca-content-title">Trio Sausages <span class="h3pdca-price">$100</span></h4>
                    <p class="h3pdca-content-text">Mussel with tomato sauce, wine</p>
                    <a class="h3pdca-content-order" href="#">ORDER</a>
                </div>
            </div>
            <div class="single-h3pdca">
                <div class="h3pdca-img">
                    <img src="../../Content/Template/img/h3-popular-dishes/item3.jpg" alt="">
                </div>
                <div class="h3pdca-content">
                    <h4 class="h3pdca-content-title">Trio Sausages <span class="h3pdca-price">$100</span></h4>
                    <p class="h3pdca-content-text">Mussel with tomato sauce, wine</p>
                    <a class="h3pdca-content-order" href="#">ORDER</a>
                </div>
            </div>
            <div class="single-h3pdca">
                <div class="h3pdca-img">
                    <img src="../../Content/Template/img/h3-popular-dishes/item4.jpg" alt="">
                </div>
                <div class="h3pdca-content">
                    <h4 class="h3pdca-content-title">Trio Sausages <span class="h3pdca-price">$100</span></h4>
                    <p class="h3pdca-content-text">Mussel with tomato sauce, wine</p>
                    <a class="h3pdca-content-order" href="#">ORDER</a>
                </div>
            </div>
            <div class="single-h3pdca">
                <div class="h3pdca-img">
                    <img src="../../Content/Template/img/h3-popular-dishes/item5.jpg" alt="">
                </div>
                <div class="h3pdca-content">
                    <h4 class="h3pdca-content-title">Trio Sausages <span class="h3pdca-price">$100</span></h4>
                    <p class="h3pdca-content-text">Mussel with tomato sauce, wine</p>
                    <a class="h3pdca-content-order" href="#">ORDER</a>
                </div>
            </div>
            <div class="single-h3pdca">
                <div class="h3pdca-img">
                    <img src="../../Content/Template/img/h3-popular-dishes/item6.jpg" alt="">
                </div>
                <div class="h3pdca-content">
                    <h4 class="h3pdca-content-title">Trio Sausages <span class="h3pdca-price">$100</span></h4>
                    <p class="h3pdca-content-text">Mussel with tomato sauce, wine</p>
                    <a class="h3pdca-content-order" href="#">ORDER</a>
                </div>
            </div>
            <div class="single-h3pdca">
                <div class="h3pdca-img">
                    <img src="../../Content/Template/img/h3-popular-dishes/item7.jpg" alt="">
                </div>
                <div class="h3pdca-content">
                    <h4 class="h3pdca-content-title">Trio Sausages <span class="h3pdca-price">$100</span></h4>
                    <p class="h3pdca-content-text">Mussel with tomato sauce, wine</p>
                    <a class="h3pdca-content-order" href="#">ORDER</a>
                </div>
            </div>
            <div class="single-h3pdca">
                <div class="h3pdca-img">
                    <img src="../../Content/Template/img/h3-popular-dishes/item8.jpg" alt="">
                </div>
                <div class="h3pdca-content">
                    <h4 class="h3pdca-content-title">Trio Sausages <span class="h3pdca-price">$100</span></h4>
                    <p class="h3pdca-content-text">Mussel with tomato sauce, wine</p>
                    <a class="h3pdca-content-order" href="#">ORDER</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- home3-popular-dish-area-end -->
<!-- home3-specilized-lunch-area-start -->
<div class="home3-specilized-lunch-area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="h3sla-head">
                    <h2 class="s3sla-intro st-ds">Specialized Lunch</h2>
                    <h4 class="s3sla-title">MAIN COURSES</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="h3sla-column">
                    <div class="single-h3sla">
                        <div class="clearfix">
                            <div class="h3sla-img">
                                <img src="../../Content/Template/img/h3-specilized-lunch/item1.jpg" alt="">
                            </div>
                            <div class="h3sla-content">
                                <h4 class="h3sla-content-title">Minoshi <span class="s3sla-content-price">$ 9.99</span></h4>
                                <p class="h3sla-content-text">Smoked quail, crispy egg, spelt, girolles, parsley</p>
                            </div>
                        </div>
                    </div>
                    <div class="single-h3sla">
                        <div class="clearfix">
                            <div class="h3sla-img">
                                <img src="../../Content/Template/img/h3-specilized-lunch/item2.jpg" alt="">
                            </div>
                            <div class="h3sla-content">
                                <h4 class="h3sla-content-title">Minoshi <span class="s3sla-content-price">$ 9.99</span></h4>
                                <p class="h3sla-content-text">Smoked quail, crispy egg, spelt, girolles, parsley</p>
                            </div>
                        </div>
                    </div>
                    <div class="single-h3sla">
                        <div class="clearfix">
                            <div class="h3sla-img">
                                <img src="../../Content/Template/img/h3-specilized-lunch/item3.jpg" alt="">
                            </div>
                            <div class="h3sla-content">
                                <h4 class="h3sla-content-title">Minoshi <span class="s3sla-content-price">$ 9.99</span></h4>
                                <p class="h3sla-content-text">Smoked quail, crispy egg, spelt, girolles, parsley</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="h3sla-column">
                    <div class="single-h3sla">
                        <div class="clearfix">
                            <div class="h3sla-img">
                                <img src="../../Content/Template/img/h3-specilized-lunch/item1.jpg" alt="">
                            </div>
                            <div class="h3sla-content">
                                <h4 class="h3sla-content-title">Minoshi <span class="s3sla-content-price">$ 9.99</span></h4>
                                <p class="h3sla-content-text">Smoked quail, crispy egg, spelt, girolles, parsley</p>
                            </div>
                        </div>
                    </div>
                    <div class="single-h3sla">
                        <div class="clearfix">
                            <div class="h3sla-img">
                                <img src="../../Content/Template/img/h3-specilized-lunch/item2.jpg" alt="">
                            </div>
                            <div class="h3sla-content">
                                <h4 class="h3sla-content-title">Minoshi <span class="s3sla-content-price">$ 9.99</span></h4>
                                <p class="h3sla-content-text">Smoked quail, crispy egg, spelt, girolles, parsley</p>
                            </div>
                        </div>
                    </div>
                    <div class="single-h3sla">
                        <div class="clearfix">
                            <div class="h3sla-img">
                                <img src="../../Content/Template/img/h3-specilized-lunch/item3.jpg" alt="">
                            </div>
                            <div class="h3sla-content">
                                <h4 class="h3sla-content-title">Minoshi <span class="s3sla-content-price">$ 9.99</span></h4>
                                <p class="h3sla-content-text">Smoked quail, crispy egg, spelt, girolles, parsley</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- home3-specilized-lunch-area-end -->
<!-- book-table-area-start -->
<div class="book-area">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                <div class="book-area-head">
                    <h2 class="st-ds">Relaxing Atmosphere</h2>
                    <h3>Book your table</h3>
                </div>
                <div class="book-form-area">
                    <form action="#">
                        <div class="book-form-row">
                            <div class="clearfix">
                                <div class="book-input-name">
                                    <input type="text" placeholder="Your Name *">
                                </div>
                                <div class="book-input-email">
                                    <input type="email" placeholder="Your Email *">
                                </div>
                                <div class="book-input-number">
                                    <input type="text" placeholder="Mobile Number *">
                                </div>
                            </div>
                        </div>
                        <div class="book-form-row">
                            <div class="clearfix">
                                <div class="book-input-date">
                                    <input id="datepicker" type="text" placeholder="Date *">
                                </div>
                                <div class="book-input-time">
                                    <input id="scrollDefaultExample" type="text" placeholder="Time *">
                                </div>
                                <div class="book-input-persons">
                                    <input type="text" placeholder="No. of Persons *">
                                </div>
                            </div>
                        </div>
                        <div class="book-input-book">
                            <input class="hvr-bs" type="submit" value="Book Now">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- book-table-area-end -->
 

